# 2-2. B net]  test에서 normal제거 후 컬럼 22개 가져오기

In [1]:
import os
import time
import math
import pickle
import pandas as pd
import numpy as np
from collections import Counter

In [15]:
B_test2_2nd_stream4 = pd.read_csv('B_total_normal_stream4.csv',warn_bad_lines=False, error_bad_lines=False) #정상 set1.csv 넣기

In [16]:
# 제거
B_test2_2nd_one_way = pd.read_csv('B_test2_one_way.csv',warn_bad_lines=False, error_bad_lines=False) #정상 set1.csv 넣기

In [17]:
 B_total_normal_stream4 = pd.read_csv('B_total_normal_stream4.csv',warn_bad_lines=False, error_bad_lines=False) #정상 set1.csv 넣기

In [18]:
B_total_normal_stream4.shape

(17046, 4)

In [19]:
merge = B_test2_2nd_stream4.merge(B_total_normal_stream4, on=['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport'], how = 'outer', suffixes=['','_'], indicator=True)
merge

                ip.src        ip.dst  tcp.srcport  tcp.dstport _merge
0      211.179.209.170   10.89.32.66      57987.0        443.0   both
1      210.127.196.190   10.89.32.47      23215.0        443.0   both
2         15.164.60.28   10.89.32.66      59920.0        443.0   both
3       223.39.126.220   10.89.32.66      43740.0        443.0   both
4        211.55.202.80   10.89.32.47      51754.0        443.0   both
...                ...           ...          ...          ...    ...
17041     81.22.45.133   10.89.32.71      58385.0      40000.0   both
17042   59.125.227.181  10.89.32.238      10286.0       9001.0   both
17043     83.97.20.184  10.89.32.186      49769.0       8080.0   both
17044    185.40.12.210   10.89.32.70      58192.0       3128.0   both
17045   220.134.134.77  10.89.32.184      35413.0       9001.0   both

[17046 rows x 5 columns]

In [20]:
B_maybe_normal = merge[merge["_merge"] == "left_only"] #  악성

In [21]:
del B_maybe_normal['_merge']

In [22]:
B_maybe_normal # 악성에만 있는 스트림

Empty DataFrame
Columns: [ip.src, ip.dst, tcp.srcport, tcp.dstport]
Index: []

## 악성에만 있는 스트림의 22개 피처 다 가져오기

In [10]:
merge1 = B_test2_2nd_one_way.merge(B_maybe_normal, on=['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport'], how = 'outer', suffixes=['','_'], indicator=True)
merge1

,_ws.col.UTCtime,_ws.col.Protocol,ip.src,ip.dst,tcp.srcport,tcp.dstport,tcp.len,tcp.seq,tcp.ack,udp.srcport,...,http.request.uri,http.user_agent,http.connection,http.host,http.response.code,http.server,http.content_type,http.content_length,http.cache_control,_merge
0,07:48:34.499147,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
1,07:48:34.515154,TLSv1.2,222.104.14.117,10.89.32.47,53258.0,443.0,677.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
2,07:48:34.534202,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,678.0,182.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
3,07:48:34.536717,TLSv1.2,222.104.14.117,10.89.32.47,53258.0,443.0,693.0,678.0,182.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
4,07:48:34.555843,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,1371.0,363.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156867,07:57:19.701809,TLSv1.2,211.179.209.170,10.89.32.66,46609.0,443.0,101.0,368.0,5156.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
156868,07:57:19.725196,TLSv1.2,211.179.209.170,10.89.32.66,46609.0,443.0,373.0,469.0,5263.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
156869,07:57:19.772626,TCP,211.179.209.170,10.89.32.66,46609.0,443.0,0.0,842.0,8183.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
156870,07:57:19.772910,TCP,211.179.209.170,10.89.32.66,46609.0,443.0,0.0,842.0,10196.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
156871,07:57:19.650428,TCP,51.77.192.7,10.89.32.94,32767.0,8545.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

In [11]:
final = merge1[(merge1['_merge']=='both')]

In [12]:
del final['_merge']

In [13]:
final

,_ws.col.UTCtime,_ws.col.Protocol,ip.src,ip.dst,tcp.srcport,tcp.dstport,tcp.len,tcp.seq,tcp.ack,udp.srcport,...,http.request.method,http.request.uri,http.user_agent,http.connection,http.host,http.response.code,http.server,http.content_type,http.content_length,http.cache_control
0,07:48:34.499147,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07:48:34.515154,TLSv1.2,222.104.14.117,10.89.32.47,53258.0,443.0,677.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07:48:34.534202,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,678.0,182.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07:48:34.536717,TLSv1.2,222.104.14.117,10.89.32.47,53258.0,443.0,693.0,678.0,182.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07:48:34.555843,TCP,222.104.14.117,10.89.32.47,53258.0,443.0,0.0,1371.0,363.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156867,07:57:19.701809,TLSv1.2,211.179.209.170,10.89.32.66,46609.0,443.0,101.0,368.0,5156.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156868,07:57:19.725196,TLSv1.2,211.179.209.170,10.89.32.66,46609.0,443.0,373.0,469.0,5263.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156869,07:57:19.772626,TCP,211.179.209.170,10.89.32.66,46609.0,443.0,0.0,842.0,8183.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156870,07:57:19.772910,TCP,211.179.209.170,10.89.32.66,46609.0,443.0,0.0,842.0,10196.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156871,07:57:19.650428,TCP,51.77.192.7,10.89.32.94,32767.0,8545.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
final.to_csv("B_test2_filter.csv", index=False)