In [1]:
from sklearn.externals import joblib

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [3]:
auto = joblib.load(r'E:\rnddata\model\A_total_feature11.pkl')

Using TensorFlow backend.
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

WARNING:tensorflow:From C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [4]:
import pandas as pd

In [5]:
normal = pd.read_csv(r'D:\본선데이터셋\feature21_final\A_attack_fea19.csv')
attack = pd.read_csv(r'D:\본선데이터셋\feature21_final\A_normal_fea19.csv')

In [7]:
normal.head()

,SET,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,label,tcp.srcport,tcp.dstport,ip.src,ip.dst,SET2_dst,SET2_src,src.num,dst.num,ratio
0,172.16.0.1_32784 192.168.10.50_80.csv,5.709501,4,5.709501,48598.984858,2.690223,5.707717,0.000869,2,1,32784,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32784172.16.0.1192.168.10.50,2053,1,2053.0
1,172.16.0.1_32798 192.168.10.50_80.csv,5.420420,4,5.420420,48600.129776,2.554122,5.418881,0.000593,2,1,32798,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32798172.16.0.1192.168.10.50,2053,1,2053.0
2,172.16.0.1_32802 192.168.10.50_80.csv,5.970122,4,5.970122,45570.281338,2.813208,5.968518,0.000639,2,1,32802,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32802172.16.0.1192.168.10.50,2053,1,2053.0
3,172.16.0.1_32812 192.168.10.50_80.csv,5.126858,4,5.126858,48601.276794,2.415542,5.125045,0.000864,2,1,32812,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32812172.16.0.1192.168.10.50,2053,1,2053.0
4,172.16.0.1_32822 192.168.10.50_80.csv,5.717089,4,5.717089,45571.407814,2.694012,5.715604,0.000681,2,1,32822,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32822172.16.0.1192.168.10.50,2053,1,2053.0

In [8]:
test = pd.concat([normal, attack])

In [6]:
# test_attack = pd.read_csv(r'D:\본선데이터셋\feature21_final\A_attack_fea19.csv')
# test_normal = pd.read_csv(r'D:\본선데이터셋\feature21_final\A_normal_fea19.csv')
# test = pd.concat([test_attack, test_normal])
# test.head()

,SET,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,label,tcp.srcport,tcp.dstport,ip.src,ip.dst,SET2_dst,SET2_src,src.num,dst.num,ratio
0,172.16.0.1_32784 192.168.10.50_80.csv,5.709501,4,5.709501,48598.984858,2.690223,5.707717,0.000869,2,1,32784,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32784172.16.0.1192.168.10.50,2053,1,2053.0
1,172.16.0.1_32798 192.168.10.50_80.csv,5.420420,4,5.420420,48600.129776,2.554122,5.418881,0.000593,2,1,32798,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32798172.16.0.1192.168.10.50,2053,1,2053.0
2,172.16.0.1_32802 192.168.10.50_80.csv,5.970122,4,5.970122,45570.281338,2.813208,5.968518,0.000639,2,1,32802,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32802172.16.0.1192.168.10.50,2053,1,2053.0
3,172.16.0.1_32812 192.168.10.50_80.csv,5.126858,4,5.126858,48601.276794,2.415542,5.125045,0.000864,2,1,32812,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32812172.16.0.1192.168.10.50,2053,1,2053.0
4,172.16.0.1_32822 192.168.10.50_80.csv,5.717089,4,5.717089,45571.407814,2.694012,5.715604,0.000681,2,1,32822,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32822172.16.0.1192.168.10.50,2053,1,2053.0

In [9]:
test.head()

,SET,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,label,tcp.srcport,tcp.dstport,ip.src,ip.dst,SET2_dst,SET2_src,src.num,dst.num,ratio
0,172.16.0.1_32784 192.168.10.50_80.csv,5.709501,4,5.709501,48598.984858,2.690223,5.707717,0.000869,2,1,32784,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32784172.16.0.1192.168.10.50,2053,1,2053.0
1,172.16.0.1_32798 192.168.10.50_80.csv,5.420420,4,5.420420,48600.129776,2.554122,5.418881,0.000593,2,1,32798,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32798172.16.0.1192.168.10.50,2053,1,2053.0
2,172.16.0.1_32802 192.168.10.50_80.csv,5.970122,4,5.970122,45570.281338,2.813208,5.968518,0.000639,2,1,32802,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32802172.16.0.1192.168.10.50,2053,1,2053.0
3,172.16.0.1_32812 192.168.10.50_80.csv,5.126858,4,5.126858,48601.276794,2.415542,5.125045,0.000864,2,1,32812,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32812172.16.0.1192.168.10.50,2053,1,2053.0
4,172.16.0.1_32822 192.168.10.50_80.csv,5.717089,4,5.717089,45571.407814,2.694012,5.715604,0.000681,2,1,32822,80,172.16.0.1,192.168.10.50,80172.16.0.1192.168.10.50,32822172.16.0.1192.168.10.50,2053,1,2053.0

In [10]:
test_set = test
test_set = test_set[['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std', 'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'tcp.srcport', 'tcp.dstport','ratio']]

In [7]:
# test_set = test
# test_set = test_set[['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std', 'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'tcp.srcport', 'tcp.dstport','ratio', 'label']]
# test_set.columns[1:12]

Index(['fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'tcp.srcport', 'tcp.dstport',
       'ratio'],
      dtype='object')

In [12]:
test_set.columns[1:12]

Index(['fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'tcp.srcport', 'tcp.dstport',
       'ratio'],
      dtype='object')

In [11]:

X_test = test_set[test_set.columns[1:12]]
# Y_test = test_set['label']

In [12]:
from sklearn.preprocessing import StandardScaler
X_test = StandardScaler().fit_transform(X_test)
X_test = pd.DataFrame(X_test)

In [13]:
# Get the outlier scores for the train data
y_train_scores = auto.decision_scores_  

# Predict the anomaly scores
y_test_scores = auto.decision_function(X_test)  # outlier scores
y_test_scores = pd.Series(y_test_scores)

# Plot it!
import matplotlib.pyplot as plt
plt.hist(y_test_scores, bins='auto')  
plt.title("Histogram for Model Clf1 Anomaly Scores")
plt.show()

In [14]:
print(y_test_scores)

0        5.904265
1        5.904912
2        5.976721
3        5.905562
4        5.977576
           ...
92674    2.639825
92675    2.639783
92676    2.640415
92677    2.639980
92678    2.684530
Length: 92679, dtype: float64

In [15]:
max_score = max(y_test_scores)

In [16]:
min_score = min(y_test_scores)

In [17]:
max_score, min_score

(334.37763802967373, 0.33767300404063477)

In [18]:
test['result'] = y_test_scores

In [19]:
test['result'].value_counts()

7.021351    3
6.019914    3
7.386168    3
6.715551    3
6.837241    3
           ..
1.347395    1
4.771956    1
0.738951    1
1.884093    1
1.437115    1
Name: result, Length: 88515, dtype: int64

In [20]:
test.columns

Index(['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'label', 'tcp.srcport',
       'tcp.dstport', 'ip.src', 'ip.dst', 'SET2_dst', 'SET2_src', 'src.num',
       'dst.num', 'ratio', 'result'],
      dtype='object')

In [21]:
result = test[['SET','ip.src', 'ip.dst','tcp.srcport', 'tcp.dstport','result']]

In [22]:
result

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
0,172.16.0.1_32784 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32784,80,5.904265
1,172.16.0.1_32798 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32798,80,5.904912
2,172.16.0.1_32802 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32802,80,5.976721
3,172.16.0.1_32812 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32812,80,5.905562
4,172.16.0.1_32822 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32822,80,5.977576
...,...,...,...,...,...,...
90592,99.192.248.32_80 192.168.10.8_2216.csv,99.192.248.32,192.168.10.8,80,2216,1.280760
90593,99.192.248.32_80 192.168.10.8_2217.csv,99.192.248.32,192.168.10.8,80,2217,1.038833
90594,99.192.248.32_80 192.168.10.8_2218.csv,99.192.248.32,192.168.10.8,80,2218,1.036066
90595,99.192.248.32_80 192.168.10.8_2243.csv,99.192.248.32,192.168.10.8,80,2243,1.036141
90596,99.192.248.32_80 192.168.10.8_2244.csv,99.192.248.32,192.168.10.8,80,2244,1.009514

In [27]:
attack1 = result[result['ip.src'] == "172.16.0.1"][['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport']]
attack1.to_csv("1721601.csv", index = False)

In [31]:
a = result[result['ip.src'] == "205.174.165.73"]

In [39]:
result[result['result']>2]

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
0,172.16.0.1_32784 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32784,80,5.904265
1,172.16.0.1_32798 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32798,80,5.904912
2,172.16.0.1_32802 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32802,80,5.976721
3,172.16.0.1_32812 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32812,80,5.905562
4,172.16.0.1_32822 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32822,80,5.977576
...,...,...,...,...,...,...
90575,98.158.106.130_443 192.168.10.17_37647.csv,98.158.106.130,192.168.10.17,443,37647,2.560149
90576,98.158.106.130_443 192.168.10.17_37648.csv,98.158.106.130,192.168.10.17,443,37648,2.532825
90577,99.192.248.32_80 192.168.10.14_59701.csv,99.192.248.32,192.168.10.14,80,59701,2.511375
90578,99.192.248.32_80 192.168.10.14_59702.csv,99.192.248.32,192.168.10.14,80,59702,2.513619
90579,99.192.248.32_80 192.168.10.14_59703.csv,99.192.248.32,192.168.10.14,80,59703,2.511119

In [41]:
del result['SET']

In [42]:
result

              ip.src         ip.dst  tcp.srcport  tcp.dstport    result
0         172.16.0.1  192.168.10.50        32784           80  5.904265
1         172.16.0.1  192.168.10.50        32798           80  5.904912
2         172.16.0.1  192.168.10.50        32802           80  5.976721
3         172.16.0.1  192.168.10.50        32812           80  5.905562
4         172.16.0.1  192.168.10.50        32822           80  5.977576
...              ...            ...          ...          ...       ...
90592  99.192.248.32   192.168.10.8           80         2216  1.280760
90593  99.192.248.32   192.168.10.8           80         2217  1.038833
90594  99.192.248.32   192.168.10.8           80         2218  1.036066
90595  99.192.248.32   192.168.10.8           80         2243  1.036141
90596  99.192.248.32   192.168.10.8           80         2244  1.009514

[92679 rows x 5 columns]

In [54]:
attack172 = result[result['result']>5]

In [57]:
attack172

              ip.src         ip.dst  tcp.srcport  tcp.dstport     result
0         172.16.0.1  192.168.10.50        32784           80   5.904265
1         172.16.0.1  192.168.10.50        32798           80   5.904912
2         172.16.0.1  192.168.10.50        32802           80   5.976721
3         172.16.0.1  192.168.10.50        32812           80   5.905562
4         172.16.0.1  192.168.10.50        32822           80   5.977576
...              ...            ...          ...          ...        ...
88446  89.186.73.156  192.168.10.15          443        58433   5.610747
88447  89.186.73.156  192.168.10.15          443        58681   5.610832
88858  91.232.230.50  192.168.10.12          443        49204  65.708756
88860  91.232.230.50  192.168.10.12          443        49210  40.639546
88861  91.232.230.50  192.168.10.12          443        49274  48.403846

[6606 rows x 5 columns]

In [58]:
a

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
2076,205.174.165.73_444 192.168.10.8_1260.csv,205.174.165.73,192.168.10.8,444,1260,174.035122
2077,205.174.165.73_444 192.168.10.8_53966.csv,205.174.165.73,192.168.10.8,444,53966,10.404256
2078,205.174.165.73_444 192.168.10.8_54119.csv,205.174.165.73,192.168.10.8,444,54119,67.380050
2079,205.174.165.73_444 192.168.10.8_54122.csv,205.174.165.73,192.168.10.8,444,54122,11.407412
2080,205.174.165.73_444 192.168.10.8_54131.csv,205.174.165.73,192.168.10.8,444,54131,47.663855
2081,205.174.165.73_444 192.168.10.8_54573.csv,205.174.165.73,192.168.10.8,444,54573,38.533395
45172,205.174.165.73_444 192.168.10.25_51325.csv,205.174.165.73,192.168.10.25,444,51325,9.654858
45173,205.174.165.73_444 192.168.10.25_52118.csv,205.174.165.73,192.168.10.25,444,52118,9.935502
45174,205.174.165.73_444 192.168.10.25_52139.csv,205.174.165.73,192.168.10.25,444,52139,10.469607
45175,205.174.165.73_444 192.168.10.25_52160.csv,205.174.165.73,192.168.10.25,444,52160,10.146299
45176,205.174.165.73_444 192.168.10.25_52181.csv,205.174.165.73,192.168.10.25,444,52181,10.406420
45177,205.174.165.73_444 192.168.10.25_52202.csv,205.174.165.73,192.168.10.25,444,52202,10.905752
45178,205.174.165.73_444 192.168.10.25_52223.csv,205.174.165.73,192.168.10.25,444,52223,10.614074
45179,205.174.165.73_444 192.168.10.25_52246.csv,205.174.165.73,192.168.10.25,444,52246,10.867737
45180,205.174.165.73_444 192.168.10.25_52267.csv,205.174.165.73,192.168.10.25,444,52267,11.388625
45181,205.174.165.73_444 192.168.10.25_52288.csv,205.174.165.73,192.168.10.25,444,52288,11.115577
45182,205.174.165.73_444 192.168.10.25_52310.csv,205.174.165.73,192.168.10.25,444,52310,11.840280
45183,205.174.165.73_444 192.168.10.25_52331.csv,205.174.165.73,192.168.10.25,444,52331,11.353595
45184,205.174.165.73_444 192.168.10.25_52352.csv,205.174.165.73,192.168.10.25,444,52352,11.624365
45185,205.174.165.73_444 192.168.10.25_52374.csv,205.174.165.73,192.168.10.25,444,52374,21.284357
45186,205.174.165.73_444 192.168.10.25_52395.csv,205.174.165.73,192.168.10.25,444,52395,5.868236
45187,205.174.165.73_444 192.168.10.25_52416.csv,205.174.165.73,192.168.10.25,444,52416,5.928207
45188,205.174.165.73_444 192.168.10.25_52437.csv,205.174.165.73,192.168.10.25,444,52437,5.973168
45189,205.174.165.73_444 192.168.10.25_52464.csv,205.174.165.73,192.168.10.25,444,52464,5.956582
45190,205.174.165.73_444 192.168.10.25_52485.csv,205.174.165.73,192.168.10.25,444,52485,5.910435
45191,205.174.165.73_444 192.168.10.25_52506.csv,205.174.165.73,192.168.10.25,444,52506,5.908235
45192,205.174.165.73_444 192.168.10.25_52527.csv,205.174.165.73,192.168.10.25,444,52527,11.391304
45193,205.174.165.73_444 192.168.10.25_52548.csv,205.174.165.73,192.168.10.25,444,52548,11.390700
45194,205.174.165.73_444 192.168.10.25_52569.csv,205.174.165.73,192.168.10.25,444,52569,11.408342
45195,205.174.165.73_444 192.168.10.25_52590.csv,205.174.165.73,192.168.10.25,444,52590,6.030122
45196,205.174.165.73_444 192.168.10.25_52611.csv,205.174.165.73,192.168.10.25,444,52611,11.464779
45197,205.174.165.73_444 192.168.10.25_52632.csv,205.174.165.73,192.168.10.25,444,52632,6.868249
45198,205.174.165.73_444 192.168.10.8_1260.csv,205.174.165.73,192.168.10.8,444,1260,6.153959
45199,205.174.165.73_444 192.168.10.8_53966.csv,205.174.165.73,192.168.10.8,444,53966,6.099089
45200,205.174.165.73_444 192.168.10.8_54119.csv,205.174.165.73,192.168.10.8,444,54119,6.185528
45201,205.174.165.73_444 192.168.10.8_54122.csv,205.174.165.73,192.168.10.8,444,54122,7.013904
45202,205.174.165.73_444 192.168.10.8_54131.csv,205.174.165.73,192.168.10.8,444,54131,7.055683
45203,205.174.165.73_444 192.168.10.8_54573.csv,205.174.165.73,192.168.10.8,444,54573,7.056358
45204,205.174.165.73_444 192.168.10.9_6246.csv,205.174.165.73,192.168.10.9,444,6246,6.308645
45205,205.174.165.73_444 192.168.10.9_6339.csv,205.174.165.73,192.168.10.9,444,6339,6.356984
45206,205.174.165.73_444 192.168.10.9_6341.csv,205.174.165.73,192.168.10.9,444,6341,11.588858

In [59]:
del a['SET']

In [60]:
attack1 = pd.concat([attack172,a])
attack1

               ip.src         ip.dst  tcp.srcport  tcp.dstport     result
0          172.16.0.1  192.168.10.50        32784           80   5.904265
1          172.16.0.1  192.168.10.50        32798           80   5.904912
2          172.16.0.1  192.168.10.50        32802           80   5.976721
3          172.16.0.1  192.168.10.50        32812           80   5.905562
4          172.16.0.1  192.168.10.50        32822           80   5.977576
...               ...            ...          ...          ...        ...
45202  205.174.165.73   192.168.10.8          444        54131   7.055683
45203  205.174.165.73   192.168.10.8          444        54573   7.056358
45204  205.174.165.73   192.168.10.9          444         6246   6.308645
45205  205.174.165.73   192.168.10.9          444         6339   6.356984
45206  205.174.165.73   192.168.10.9          444         6341  11.588858

[6647 rows x 5 columns]

In [61]:
attack1.to_csv('attack.csv', index=False)

In [52]:
result[result['result']>5]

              ip.src         ip.dst  tcp.srcport  tcp.dstport     result
0         172.16.0.1  192.168.10.50        32784           80   5.904265
1         172.16.0.1  192.168.10.50        32798           80   5.904912
2         172.16.0.1  192.168.10.50        32802           80   5.976721
3         172.16.0.1  192.168.10.50        32812           80   5.905562
4         172.16.0.1  192.168.10.50        32822           80   5.977576
...              ...            ...          ...          ...        ...
88446  89.186.73.156  192.168.10.15          443        58433   5.610747
88447  89.186.73.156  192.168.10.15          443        58681   5.610832
88858  91.232.230.50  192.168.10.12          443        49204  65.708756
88860  91.232.230.50  192.168.10.12          443        49210  40.639546
88861  91.232.230.50  192.168.10.12          443        49274  48.403846

[6606 rows x 5 columns]

In [48]:
result[result['result']>7]

               ip.src         ip.dst  tcp.srcport  tcp.dstport     result
48         172.16.0.1  192.168.10.50        33310           80  27.577618
64         172.16.0.1  192.168.10.50        33486           80  27.628800
84         172.16.0.1  192.168.10.50        33702           80  27.686670
134        172.16.0.1  192.168.10.50        34252           80  27.847165
137        172.16.0.1  192.168.10.50        34292           80  27.856935
...               ...            ...          ...          ...        ...
85746  74.125.192.156   192.168.10.8          443        50321  10.709018
87669  81.222.128.229  192.168.10.19          443        35160   9.435811
88858   91.232.230.50  192.168.10.12          443        49204  65.708756
88860   91.232.230.50  192.168.10.12          443        49210  40.639546
88861   91.232.230.50  192.168.10.12          443        49274  48.403846

[2218 rows x 5 columns]

In [34]:
a['result'] = a['result']*12

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
a

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
2076,205.174.165.73_444 192.168.10.8_1260.csv,205.174.165.73,192.168.10.8,444,1260,174.035122
2077,205.174.165.73_444 192.168.10.8_53966.csv,205.174.165.73,192.168.10.8,444,53966,10.404256
2078,205.174.165.73_444 192.168.10.8_54119.csv,205.174.165.73,192.168.10.8,444,54119,67.380050
2079,205.174.165.73_444 192.168.10.8_54122.csv,205.174.165.73,192.168.10.8,444,54122,11.407412
2080,205.174.165.73_444 192.168.10.8_54131.csv,205.174.165.73,192.168.10.8,444,54131,47.663855
2081,205.174.165.73_444 192.168.10.8_54573.csv,205.174.165.73,192.168.10.8,444,54573,38.533395
45172,205.174.165.73_444 192.168.10.25_51325.csv,205.174.165.73,192.168.10.25,444,51325,9.654858
45173,205.174.165.73_444 192.168.10.25_52118.csv,205.174.165.73,192.168.10.25,444,52118,9.935502
45174,205.174.165.73_444 192.168.10.25_52139.csv,205.174.165.73,192.168.10.25,444,52139,10.469607
45175,205.174.165.73_444 192.168.10.25_52160.csv,205.174.165.73,192.168.10.25,444,52160,10.146299
45176,205.174.165.73_444 192.168.10.25_52181.csv,205.174.165.73,192.168.10.25,444,52181,10.406420
45177,205.174.165.73_444 192.168.10.25_52202.csv,205.174.165.73,192.168.10.25,444,52202,10.905752
45178,205.174.165.73_444 192.168.10.25_52223.csv,205.174.165.73,192.168.10.25,444,52223,10.614074
45179,205.174.165.73_444 192.168.10.25_52246.csv,205.174.165.73,192.168.10.25,444,52246,10.867737
45180,205.174.165.73_444 192.168.10.25_52267.csv,205.174.165.73,192.168.10.25,444,52267,11.388625
45181,205.174.165.73_444 192.168.10.25_52288.csv,205.174.165.73,192.168.10.25,444,52288,11.115577
45182,205.174.165.73_444 192.168.10.25_52310.csv,205.174.165.73,192.168.10.25,444,52310,11.840280
45183,205.174.165.73_444 192.168.10.25_52331.csv,205.174.165.73,192.168.10.25,444,52331,11.353595
45184,205.174.165.73_444 192.168.10.25_52352.csv,205.174.165.73,192.168.10.25,444,52352,11.624365
45185,205.174.165.73_444 192.168.10.25_52374.csv,205.174.165.73,192.168.10.25,444,52374,21.284357
45186,205.174.165.73_444 192.168.10.25_52395.csv,205.174.165.73,192.168.10.25,444,52395,5.868236
45187,205.174.165.73_444 192.168.10.25_52416.csv,205.174.165.73,192.168.10.25,444,52416,5.928207
45188,205.174.165.73_444 192.168.10.25_52437.csv,205.174.165.73,192.168.10.25,444,52437,5.973168
45189,205.174.165.73_444 192.168.10.25_52464.csv,205.174.165.73,192.168.10.25,444,52464,5.956582
45190,205.174.165.73_444 192.168.10.25_52485.csv,205.174.165.73,192.168.10.25,444,52485,5.910435
45191,205.174.165.73_444 192.168.10.25_52506.csv,205.174.165.73,192.168.10.25,444,52506,5.908235
45192,205.174.165.73_444 192.168.10.25_52527.csv,205.174.165.73,192.168.10.25,444,52527,11.391304
45193,205.174.165.73_444 192.168.10.25_52548.csv,205.174.165.73,192.168.10.25,444,52548,11.390700
45194,205.174.165.73_444 192.168.10.25_52569.csv,205.174.165.73,192.168.10.25,444,52569,11.408342
45195,205.174.165.73_444 192.168.10.25_52590.csv,205.174.165.73,192.168.10.25,444,52590,6.030122
45196,205.174.165.73_444 192.168.10.25_52611.csv,205.174.165.73,192.168.10.25,444,52611,11.464779
45197,205.174.165.73_444 192.168.10.25_52632.csv,205.174.165.73,192.168.10.25,444,52632,6.868249
45198,205.174.165.73_444 192.168.10.8_1260.csv,205.174.165.73,192.168.10.8,444,1260,6.153959
45199,205.174.165.73_444 192.168.10.8_53966.csv,205.174.165.73,192.168.10.8,444,53966,6.099089
45200,205.174.165.73_444 192.168.10.8_54119.csv,205.174.165.73,192.168.10.8,444,54119,6.185528
45201,205.174.165.73_444 192.168.10.8_54122.csv,205.174.165.73,192.168.10.8,444,54122,7.013904
45202,205.174.165.73_444 192.168.10.8_54131.csv,205.174.165.73,192.168.10.8,444,54131,7.055683
45203,205.174.165.73_444 192.168.10.8_54573.csv,205.174.165.73,192.168.10.8,444,54573,7.056358
45204,205.174.165.73_444 192.168.10.9_6246.csv,205.174.165.73,192.168.10.9,444,6246,6.308645
45205,205.174.165.73_444 192.168.10.9_6339.csv,205.174.165.73,192.168.10.9,444,6339,6.356984
45206,205.174.165.73_444 192.168.10.9_6341.csv,205.174.165.73,192.168.10.9,444,6341,11.588858

In [30]:
attack2 = a[['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport']]
attack2.to_csv("20517416573.csv", index = False)

In [31]:
b = a[a['ip.dst'] == "192.168.10.15"]

In [32]:
b

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
20837,205.174.165.73_8080 192.168.10.15_51930.csv,205.174.165.73,192.168.10.15,8080,51930,4.0
20838,205.174.165.73_8080 192.168.10.15_51956.csv,205.174.165.73,192.168.10.15,8080,51956,4.0
20839,205.174.165.73_8080 192.168.10.15_52040.csv,205.174.165.73,192.168.10.15,8080,52040,4.0
20840,205.174.165.73_8080 192.168.10.15_52093.csv,205.174.165.73,192.168.10.15,8080,52093,4.0
20841,205.174.165.73_8080 192.168.10.15_52125.csv,205.174.165.73,192.168.10.15,8080,52125,4.0
...,...,...,...,...,...,...
21226,205.174.165.73_8080 192.168.10.15_54395.csv,205.174.165.73,192.168.10.15,8080,54395,5.0
21227,205.174.165.73_8080 192.168.10.15_54398.csv,205.174.165.73,192.168.10.15,8080,54398,5.0
21228,205.174.165.73_8080 192.168.10.15_54399.csv,205.174.165.73,192.168.10.15,8080,54399,5.0
21229,205.174.165.73_8080 192.168.10.15_54428.csv,205.174.165.73,192.168.10.15,8080,54428,5.0
21230,205.174.165.73_8080 192.168.10.15_54432.csv,205.174.165.73,192.168.10.15,8080,54432,5.0

In [33]:
len(b['tcp.dstport'].value_counts())

394

In [36]:
result1 = result[result['result'] > 5]

In [37]:
result1

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
0,172.16.0.1_32784 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32784,80,5.904265
1,172.16.0.1_32798 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32798,80,5.904912
2,172.16.0.1_32802 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32802,80,5.976721
3,172.16.0.1_32812 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32812,80,5.905562
4,172.16.0.1_32822 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32822,80,5.977576
...,...,...,...,...,...,...
88446,89.186.73.156_443 192.168.10.15_58433.csv,89.186.73.156,192.168.10.15,443,58433,5.610747
88447,89.186.73.156_443 192.168.10.15_58681.csv,89.186.73.156,192.168.10.15,443,58681,5.610832
88858,91.232.230.50_443 192.168.10.12_49204.csv,91.232.230.50,192.168.10.12,443,49204,65.708756
88860,91.232.230.50_443 192.168.10.12_49210.csv,91.232.230.50,192.168.10.12,443,49210,40.639546
88861,91.232.230.50_443 192.168.10.12_49274.csv,91.232.230.50,192.168.10.12,443,49274,48.403846

In [42]:
len(result1['tcp.dstport'].value_counts())

1175

In [25]:
result1['ip.dst'].value_counts()

192.168.10.50    2084
192.168.10.51    1263
192.168.10.15     513
192.168.10.14     494
192.168.10.8      488
192.168.10.9      479
192.168.10.16     413
192.168.10.5      410
192.168.10.12     406
192.168.10.17     401
192.168.10.19     363
192.168.10.25     273
Name: ip.dst, dtype: int64

In [ ]:
result1['tcp.']

In [38]:
result1['ip.src'].value_counts()

172.16.0.1        3057
172.217.10.142     204
172.217.10.110     153
104.16.26.216      106
172.217.10.14      104
                  ...
23.194.108.108       1
125.212.247.52       1
159.127.42.76        1
104.97.141.192       1
104.85.5.19          1
Name: ip.src, Length: 584, dtype: int64

In [ ]:
result1[result1['ip.src'] == '172.16.0.1']

In [29]:
result1[(result1['ip.src'] == '172.16.0.1') & (result1['ip.dst'] == '192.168.10.50')]

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
0,172.16.0.1_32784 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32784,80,5.904265
1,172.16.0.1_32798 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32798,80,5.904912
2,172.16.0.1_32802 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32802,80,5.976721
3,172.16.0.1_32812 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32812,80,5.905562
4,172.16.0.1_32822 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,32822,80,5.977576
...,...,...,...,...,...,...
17901,172.16.0.1_55794 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,55794,80,66.630064
18119,172.16.0.1_58238 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,58238,80,4.785241
18137,172.16.0.1_58440 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,58440,80,5.449359
18148,172.16.0.1_58564 192.168.10.50_80.csv,172.16.0.1,192.168.10.50,58564,80,4.629410
18370,172.16.0.1_50139 192.168.10.50_443.csv,172.16.0.1,192.168.10.50,50139,443,7.294731

In [84]:
q = result1[result1['ip.src'] == "23.61.187.27"]

In [85]:
q

,SET,ip.src,ip.dst,tcp.srcport,tcp.dstport,result
27988,23.61.187.27_80 192.168.10.12_54394.csv,23.61.187.27,192.168.10.12,80,54394,4.573586
28014,23.61.187.27_80 192.168.10.12_58314.csv,23.61.187.27,192.168.10.12,80,58314,4.719485
28123,23.61.187.27_80 192.168.10.15_50534.csv,23.61.187.27,192.168.10.15,80,50534,4.574930
28180,23.61.187.27_80 192.168.10.16_51542.csv,23.61.187.27,192.168.10.16,80,51542,4.541002
28214,23.61.187.27_80 192.168.10.16_56444.csv,23.61.187.27,192.168.10.16,80,56444,4.564122
28220,23.61.187.27_80 192.168.10.16_56644.csv,23.61.187.27,192.168.10.16,80,56644,4.605056
28223,23.61.187.27_80 192.168.10.16_57666.csv,23.61.187.27,192.168.10.16,80,57666,5.054254
28224,23.61.187.27_80 192.168.10.16_57668.csv,23.61.187.27,192.168.10.16,80,57668,5.054253
28233,23.61.187.27_80 192.168.10.16_57772.csv,23.61.187.27,192.168.10.16,80,57772,4.787452
28234,23.61.187.27_80 192.168.10.16_57774.csv,23.61.187.27,192.168.10.16,80,57774,4.787468
28235,23.61.187.27_80 192.168.10.16_57780.csv,23.61.187.27,192.168.10.16,80,57780,4.779974
28242,23.61.187.27_80 192.168.10.16_57916.csv,23.61.187.27,192.168.10.16,80,57916,4.725678
28245,23.61.187.27_80 192.168.10.16_58038.csv,23.61.187.27,192.168.10.16,80,58038,4.775578
28249,23.61.187.27_80 192.168.10.16_58096.csv,23.61.187.27,192.168.10.16,80,58096,4.898558
28262,23.61.187.27_80 192.168.10.17_33955.csv,23.61.187.27,192.168.10.17,80,33955,4.626634
28268,23.61.187.27_80 192.168.10.17_34139.csv,23.61.187.27,192.168.10.17,80,34139,4.513534
28300,23.61.187.27_80 192.168.10.19_58281.csv,23.61.187.27,192.168.10.19,80,58281,4.648491
28372,23.61.187.27_80 192.168.10.5_50394.csv,23.61.187.27,192.168.10.5,80,50394,11.239026
28374,23.61.187.27_80 192.168.10.5_50471.csv,23.61.187.27,192.168.10.5,80,50471,5.946086
28385,23.61.187.27_80 192.168.10.5_50680.csv,23.61.187.27,192.168.10.5,80,50680,97.354745
28386,23.61.187.27_80 192.168.10.5_50681.csv,23.61.187.27,192.168.10.5,80,50681,103.463182
28423,23.61.187.27_80 192.168.10.5_52662.csv,23.61.187.27,192.168.10.5,80,52662,162.342913
28441,23.61.187.27_80 192.168.10.8_1848.csv,23.61.187.27,192.168.10.8,80,1848,4.728037
28450,23.61.187.27_80 192.168.10.8_1950.csv,23.61.187.27,192.168.10.8,80,1950,4.895222
28469,23.61.187.27_80 192.168.10.8_2512.csv,23.61.187.27,192.168.10.8,80,2512,4.648888
28475,23.61.187.27_80 192.168.10.8_2530.csv,23.61.187.27,192.168.10.8,80,2530,4.635518
28479,23.61.187.27_80 192.168.10.8_2535.csv,23.61.187.27,192.168.10.8,80,2535,4.563372
28497,23.61.187.27_80 192.168.10.8_3487.csv,23.61.187.27,192.168.10.8,80,3487,4.818456
28501,23.61.187.27_80 192.168.10.8_3491.csv,23.61.187.27,192.168.10.8,80,3491,4.762204
28516,23.61.187.27_80 192.168.10.8_5136.csv,23.61.187.27,192.168.10.8,80,5136,4.834125
28519,23.61.187.27_80 192.168.10.8_5196.csv,23.61.187.27,192.168.10.8,80,5196,5.370119
28520,23.61.187.27_80 192.168.10.8_5197.csv,23.61.187.27,192.168.10.8,80,5197,5.316940
28531,23.61.187.27_80 192.168.10.9_1396.csv,23.61.187.27,192.168.10.9,80,1396,4.513993
28534,23.61.187.27_80 192.168.10.9_1446.csv,23.61.187.27,192.168.10.9,80,1446,4.855340
28535,23.61.187.27_80 192.168.10.9_1448.csv,23.61.187.27,192.168.10.9,80,1448,4.836191
28543,23.61.187.27_80 192.168.10.9_1638.csv,23.61.187.27,192.168.10.9,80,1638,4.527600
28544,23.61.187.27_80 192.168.10.9_1659.csv,23.61.187.27,192.168.10.9,80,1659,4.799675
28554,23.61.187.27_80 192.168.10.9_2475.csv,23.61.187.27,192.168.10.9,80,2475,4.578668
28555,23.61.187.27_80 192.168.10.9_2476.csv,23.61.187.27,192.168.10.9,80,2476,4.578787
28557,23.61.187.27_80 192.168.10.9_2973.csv,23.61.187.27,192.168.10.9,80,2973,4.829567
28573,23.61.187.27_80 192.168.10.9_3192.csv,23.61.187.27,192.168.10.9,80,3192,4.598048
28574,23.61.187.27_80 192.168.10.9_3193.csv,23.61.187.27,192.168.10.9,80,3193,4.597830
28579,23.61.187.27_80 192.168.10.9_4423.csv,23.61.187.27,192.168.10.9,80,4423,4.512738
28580,23.61.187.27_80 192.168.10.9_4424.csv,23.61.187.27,192.168.10.9,80,4424,4.512456
28601,23.61.187.27_80 192.168.10.9_6177.csv,23.61.187.27,192.168.10.9,80,6177,4.983747
28602,23.61.187.27_80 192.168.10.9_6178.csv,23.61.187.27,192.168.10.9,80,6178,4.983934
28603,23.61.187.27_80 192.168.10.9_6179.csv,23.61.187.27,192.168.10.9,80,6179,4.880037
28608,23.61.187.27_80 192.168.10.9_6724.csv,23.61.187.27,192.168.10.9,80,6724,4.852266
28609,23.61.187.27_80 192.168.10.9_6725.csv,23.61.187.27,192.168.10.9,80,6725,4.848414

In [87]:
q[['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport']]

             ip.src         ip.dst  tcp.srcport  tcp.dstport
27988  23.61.187.27  192.168.10.12           80        54394
28014  23.61.187.27  192.168.10.12           80        58314
28123  23.61.187.27  192.168.10.15           80        50534
28180  23.61.187.27  192.168.10.16           80        51542
28214  23.61.187.27  192.168.10.16           80        56444
28220  23.61.187.27  192.168.10.16           80        56644
28223  23.61.187.27  192.168.10.16           80        57666
28224  23.61.187.27  192.168.10.16           80        57668
28233  23.61.187.27  192.168.10.16           80        57772
28234  23.61.187.27  192.168.10.16           80        57774
28235  23.61.187.27  192.168.10.16           80        57780
28242  23.61.187.27  192.168.10.16           80        57916
28245  23.61.187.27  192.168.10.16           80        58038
28249  23.61.187.27  192.168.10.16           80        58096
28262  23.61.187.27  192.168.10.17           80        33955
28268  23.61.187.27  192.168.10.17           80        34139
28300  23.61.187.27  192.168.10.19           80        58281
28372  23.61.187.27   192.168.10.5           80        50394
28374  23.61.187.27   192.168.10.5           80        50471
28385  23.61.187.27   192.168.10.5           80        50680
28386  23.61.187.27   192.168.10.5           80        50681
28423  23.61.187.27   192.168.10.5           80        52662
28441  23.61.187.27   192.168.10.8           80         1848
28450  23.61.187.27   192.168.10.8           80         1950
28469  23.61.187.27   192.168.10.8           80         2512
28475  23.61.187.27   192.168.10.8           80         2530
28479  23.61.187.27   192.168.10.8           80         2535
28497  23.61.187.27   192.168.10.8           80         3487
28501  23.61.187.27   192.168.10.8           80         3491
28516  23.61.187.27   192.168.10.8           80         5136
28519  23.61.187.27   192.168.10.8           80         5196
28520  23.61.187.27   192.168.10.8           80         5197
28531  23.61.187.27   192.168.10.9           80         1396
28534  23.61.187.27   192.168.10.9           80         1446
28535  23.61.187.27   192.168.10.9           80         1448
28543  23.61.187.27   192.168.10.9           80         1638
28544  23.61.187.27   192.168.10.9           80         1659
28554  23.61.187.27   192.168.10.9           80         2475
28555  23.61.187.27   192.168.10.9           80         2476
28557  23.61.187.27   192.168.10.9           80         2973
28573  23.61.187.27   192.168.10.9           80         3192
28574  23.61.187.27   192.168.10.9           80         3193
28579  23.61.187.27   192.168.10.9           80         4423
28580  23.61.187.27   192.168.10.9           80         4424
28601  23.61.187.27   192.168.10.9           80         6177
28602  23.61.187.27   192.168.10.9           80         6178
28603  23.61.187.27   192.168.10.9           80         6179
28608  23.61.187.27   192.168.10.9           80         6724
28609  23.61.187.27   192.168.10.9           80         6725

In [88]:
q.to_csv("23.61.187.27.csv", index = False)

In [71]:
q.to_csv("72.21.91.29.csv", index = False)

In [70]:
q['ip.dst'].value_counts()

192.168.10.9     32
192.168.10.8     21
192.168.10.5      8
192.168.10.15     7
192.168.10.19     5
192.168.10.12     4
192.168.10.14     3
192.168.10.17     2
192.168.10.16     2
Name: ip.dst, dtype: int64

In [ ]:
result1['i'].value_counts()

In [83]:
test[test['tcp.srcport'] == 443]

,SET,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,tcp.srcport,tcp.dstport,ip.src,ip.dst,SET2_dst,SET2_src,src.num,dst.num,ratio,result
24,1.31.173.11_443 192.168.10.25_51485.csv,46.529489,33,46.529489,51221.813247,7.785551,44.799482,2.000001e-06,20,443,51485,1.31.173.11,192.168.10.25,514851.31.173.11192.168.10.25,4431.31.173.11192.168.10.25,1,2,0.500000,1.065601
25,1.31.173.11_443 192.168.10.25_51486.csv,46.535114,24,46.535114,51223.842626,9.105315,44.726499,9.999931e-07,14,443,51486,1.31.173.11,192.168.10.25,514861.31.173.11192.168.10.25,4431.31.173.11192.168.10.25,1,2,0.500000,1.072890
26,1.31.173.21_443 192.168.10.25_51471.csv,50.833367,34,50.833367,51218.529777,8.080137,47.221030,2.000001e-06,12,443,51471,1.31.173.21,192.168.10.25,514711.31.173.21192.168.10.25,4431.31.173.21192.168.10.25,1,4,0.250000,0.834138
27,1.31.173.21_443 192.168.10.25_51472.csv,50.830033,41,50.830033,51218.428379,7.135590,45.785939,1.000000e-06,11,443,51472,1.31.173.21,192.168.10.25,514721.31.173.21192.168.10.25,4431.31.173.21192.168.10.25,1,4,0.250000,0.823437
28,1.31.173.21_443 192.168.10.25_51473.csv,50.824966,40,50.824966,51217.325306,7.453422,47.219968,1.000000e-06,18,443,51473,1.31.173.21,192.168.10.25,514731.31.173.21192.168.10.25,4431.31.173.21192.168.10.25,1,4,0.250000,0.829025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43652,98.139.225.43_443 192.168.10.8_1915.csv,15.444417,12,15.444417,46011.466417,3.105143,10.024042,4.000001e-06,8,443,1915,98.139.225.43,192.168.10.8,191598.139.225.43192.168.10.8,44398.139.225.43192.168.10.8,1,2,0.500000,2.345675
43653,98.139.225.43_443 192.168.10.8_1916.csv,0.176507,7,0.176507,46006.776771,0.034301,0.098067,4.799999e-05,7,443,1916,98.139.225.43,192.168.10.8,191698.139.225.43192.168.10.8,44398.139.225.43192.168.10.8,1,2,0.500000,2.390910
43654,98.139.225.43_443 192.168.10.9_5820.csv,15.698616,12,15.698616,53014.653331,3.077654,9.798391,3.000001e-06,8,443,5820,98.139.225.43,192.168.10.9,582098.139.225.43192.168.10.9,44398.139.225.43192.168.10.9,1,3,0.333333,2.021722
43655,98.139.225.43_443 192.168.10.9_5823.csv,15.252274,11,15.252274,53014.983285,3.209859,10.027220,4.900000e-05,7,443,5823,98.139.225.43,192.168.10.9,582398.139.225.43192.168.10.9,44398.139.225.43192.168.10.9,1,3,0.333333,2.022991
43656,98.139.225.43_443 192.168.10.9_6717.csv,16.173306,14,16.173306,58523.960920,2.898800,9.781885,4.000001e-06,10,443,6717,98.139.225.43,192.168.10.9,671798.139.225.43192.168.10.9,44398.139.225.43192.168.10.9,1,3,0.333333,2.868613

In [63]:
attack1.head()

       ip.src         ip.dst  tcp.srcport  tcp.dstport    result
0  172.16.0.1  192.168.10.50        32784           80  5.904265
1  172.16.0.1  192.168.10.50        32798           80  5.904912
2  172.16.0.1  192.168.10.50        32802           80  5.976721
3  172.16.0.1  192.168.10.50        32812           80  5.905562
4  172.16.0.1  192.168.10.50        32822           80  5.977576

In [64]:
del attack1['result']

In [65]:
attack1.drop_duplicates()

               ip.src         ip.dst  tcp.srcport  tcp.dstport
0          172.16.0.1  192.168.10.50        32784           80
1          172.16.0.1  192.168.10.50        32798           80
2          172.16.0.1  192.168.10.50        32802           80
3          172.16.0.1  192.168.10.50        32812           80
4          172.16.0.1  192.168.10.50        32822           80
...               ...            ...          ...          ...
45196  205.174.165.73  192.168.10.25          444        52611
45197  205.174.165.73  192.168.10.25          444        52632
45204  205.174.165.73   192.168.10.9          444         6246
45205  205.174.165.73   192.168.10.9          444         6339
45206  205.174.165.73   192.168.10.9          444         6341

[6634 rows x 4 columns]

In [74]:
test_data = pd.read_csv(r'E:\rnddata\원본\A_test1_1st.csv',warn_bad_lines=False, error_bad_lines=False)

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12,13,14,15,16,18,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [75]:
merge1 = test_data.merge(attack1, on=['ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport'], how = 'outer', suffixes=['','_'], indicator=True )

In [84]:
merge1['label'] = 0

In [93]:
merge1[merge1['_merge'] == 'both']['label'] = 1

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
merge1[merge1['_merge'] == 'left_only']['label'] = 0

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
merge1['_merge'].value_counts()

left_only     9120292
both           250327
right_only          0
Name: _merge, dtype: int64

In [94]:
merge2 = merge1[['_ws.col.UTCtime', '_ws.col.Protocol', 'ip.src', 'ip.dst', 'tcp.srcport', 'tcp.dstport','http.request.uri', 'http.user_agent', '_merge']]

In [95]:
merge2.head()

,_ws.col.UTCtime,_ws.col.Protocol,ip.src,ip.dst,tcp.srcport,tcp.dstport,http.request.uri,http.user_agent,_merge
0,11:58:58.492265,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,11:59:02.261854,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,11:59:02.963151,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,11:59:05.720779,ARP,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,11:59:05.720785,ARP,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [101]:
a = merge2[merge2['_merge'] == 'left_only']

In [102]:
b = merge2[merge2['_merge'] == 'both']

In [103]:
a['label'] = 0
b['label'] = 1

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
a.head()

,_ws.col.UTCtime,_ws.col.Protocol,ip.src,ip.dst,tcp.srcport,tcp.dstport,http.request.uri,http.user_agent,_merge,label
0,11:58:58.492265,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0
1,11:59:02.261854,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0
2,11:59:02.963151,CDP,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0
3,11:59:05.720779,ARP,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0
4,11:59:05.720785,ARP,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0

In [105]:
ab = pd.concat([a,b])

In [106]:
del ab['_merge']

In [107]:
ab.head()

,_ws.col.UTCtime,_ws.col.Protocol,ip.src,ip.dst,tcp.srcport,tcp.dstport,http.request.uri,http.user_agent,label
0,11:58:58.492265,CDP,NaN,NaN,NaN,NaN,NaN,NaN,0
1,11:59:02.261854,CDP,NaN,NaN,NaN,NaN,NaN,NaN,0
2,11:59:02.963151,CDP,NaN,NaN,NaN,NaN,NaN,NaN,0
3,11:59:05.720779,ARP,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11:59:05.720785,ARP,NaN,NaN,NaN,NaN,NaN,NaN,0

In [108]:
ab['label'].value_counts()

0    9120292
1     250327
Name: label, dtype: int64

In [110]:
ab.shape

(9370619, 9)

In [111]:
ab.to_csv('result.csv', index=False)

In [87]:
merge1.columns

Index(['_ws.col.UTCtime', '_ws.col.Protocol', 'ip.src', 'ip.dst',
       'tcp.srcport', 'tcp.dstport', 'tcp.len', 'tcp.seq', 'tcp.ack',
       'udp.srcport', 'udp.dstport', 'udp.length', 'http.request.method',
       'http.request.uri', 'http.user_agent', 'http.connection', 'http.host',
       'http.response.code', 'http.server', 'http.content_type',
       'http.content_length', 'http.cache_control', '_merge', 'label'],
      dtype='object')

In [91]:
merge1['label'].value_counts()

0    9370619
Name: label, dtype: int64

In [69]:
merge1.columns

Index(['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'label', 'tcp.srcport',
       'tcp.dstport', 'ip.src', 'ip.dst', 'SET2_dst', 'SET2_src', 'src.num',
       'dst.num', 'ratio', 'result', '_merge'],
      dtype='object')

In [70]:
del merge1['SET']

In [71]:
del merge1['SET2_dst']
del merge1['SET2_src']
del merge1['dst.num']
del merge1['src.num']

In [72]:
merge1

,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,label,tcp.srcport,tcp.dstport,ip.src,ip.dst,ratio,result,_merge
0,5.709501,4,5.709501,48598.984858,2.690223,5.707717,8.690000e-04,2,1,32784,80,172.16.0.1,192.168.10.50,2053.000000,5.904265,both
1,5.709501,4,5.709501,48598.984858,2.690223,5.707717,8.690000e-04,2,0,32784,80,172.16.0.1,192.168.10.50,2053.000000,1.552503,both
2,5.420420,4,5.420420,48600.129776,2.554122,5.418881,5.930000e-04,2,1,32798,80,172.16.0.1,192.168.10.50,2053.000000,5.904912,both
3,5.420420,4,5.420420,48600.129776,2.554122,5.418881,5.930000e-04,2,0,32798,80,172.16.0.1,192.168.10.50,2053.000000,1.549883,both
4,5.970122,4,5.970122,45570.281338,2.813208,5.968518,6.390000e-04,2,1,32802,80,172.16.0.1,192.168.10.50,2053.000000,5.976721,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92700,0.169840,6,0.169840,71153.128459,0.045606,0.115777,2.000001e-06,6,0,80,2216,99.192.248.32,192.168.10.8,0.166667,1.280760,left_only
92701,0.169716,6,0.169716,71153.128458,0.045491,0.115470,9.999931e-07,6,0,80,2217,99.192.248.32,192.168.10.8,0.166667,1.038833,left_only
92702,0.121071,5,0.121071,71153.120603,0.030069,0.067141,4.000001e-06,5,0,80,2218,99.192.248.32,192.168.10.8,0.166667,1.036066,left_only
92703,0.507164,28,0.507164,71154.664929,0.041665,0.161818,4.800000e-05,27,0,80,2243,99.192.248.32,192.168.10.8,0.166667,1.036141,left_only
92704,6.216436,3,6.216436,71157.519855,0.042602,3.150820,3.065616e+00,1,0,80,2244,99.192.248.32,192.168.10.8,0.166667,1.009514,left_only