In [1]:
import pandas as pd

In [2]:
normal = pd.read_csv(r'E:\와이앤슈\NIDS\데이터셋\본선이후\A_total_normal_fea21.csv')

In [3]:
normal.head()

,SET,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,is_in_bot,...,check_rdp,tcp.srcport,tcp.dstport,ip.src,ip.dst,SET2_dst,SET2_src,src.num,dst.num,ratio
0,1.1.70.73_80 192.168.10.19_57627.csv,1.665280,5,1.665280,52627.408395,0.621451,1.485226,0.000192,4,0,...,0,80,57627,1.1.70.73,192.168.10.19,576271.1.70.73192.168.10.19,801.1.70.73192.168.10.19,1,11,0.090909
1,1.1.70.73_80 192.168.10.19_57628.csv,0.392698,4,0.392698,52627.876973,0.092566,0.197951,0.000004,4,0,...,0,80,57628,1.1.70.73,192.168.10.19,576281.1.70.73192.168.10.19,801.1.70.73192.168.10.19,1,11,0.090909
2,1.1.70.73_80 192.168.10.19_57629.csv,0.361616,4,0.361616,52627.845805,0.085235,0.181785,0.000004,4,0,...,0,80,57629,1.1.70.73,192.168.10.19,576291.1.70.73192.168.10.19,801.1.70.73192.168.10.19,1,11,0.090909
3,1.1.70.73_80 192.168.10.19_57630.csv,0.390453,4,0.390453,52627.875198,0.092032,0.196101,0.000002,4,0,...,0,80,57630,1.1.70.73,192.168.10.19,576301.1.70.73192.168.10.19,801.1.70.73192.168.10.19,1,11,0.090909
4,1.1.70.73_80 192.168.10.19_57631.csv,0.383270,4,0.383270,52627.867329,0.090339,0.192346,0.000001,4,0,...,0,80,57631,1.1.70.73,192.168.10.19,576311.1.70.73192.168.10.19,801.1.70.73192.168.10.19,1,11,0.090909

In [4]:
normal.columns

Index(['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'is_in_bot', 'is_in_ares',
       'check_rdp', 'tcp.srcport', 'tcp.dstport', 'ip.src', 'ip.dst',
       'SET2_dst', 'SET2_src', 'src.num', 'dst.num', 'ratio'],
      dtype='object')

In [5]:
normal = normal[['SET','fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std','fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'is_in_bot', 'is_in_ares','check_rdp', 'ratio']]

In [6]:
normal.columns

Index(['SET', 'fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'is_in_bot', 'is_in_ares',
       'check_rdp', 'ratio'],
      dtype='object')

In [7]:
train_set = normal

In [11]:
train_set.columns[1:13]

Index(['fl_dur', 'tot_fw_pk', 'fw_iat_tot', 'fw_iat_avg', 'fw_iat_std',
       'fw_iat_max', 'fw_iat_min', 'fw_pkt_s', 'is_in_bot', 'is_in_ares',
       'check_rdp', 'ratio'],
      dtype='object')

In [12]:
X_train = train_set[train_set.columns[1:13]]
X_train

,fl_dur,tot_fw_pk,fw_iat_tot,fw_iat_avg,fw_iat_std,fw_iat_max,fw_iat_min,fw_pkt_s,is_in_bot,is_in_ares,check_rdp,ratio
0,1.665280,5,1.665280,52627.408395,0.621451,1.485226,1.920000e-04,4,0,0,0,0.090909
1,0.392698,4,0.392698,52627.876973,0.092566,0.197951,4.000001e-06,4,0,0,0,0.090909
2,0.361616,4,0.361616,52627.845805,0.085235,0.181785,4.000001e-06,4,0,0,0,0.090909
3,0.390453,4,0.390453,52627.875198,0.092032,0.196101,2.000001e-06,4,0,0,0,0.090909
4,0.383270,4,0.383270,52627.867329,0.090339,0.192346,1.000000e-06,4,0,0,0,0.090909
...,...,...,...,...,...,...,...,...,...,...,...,...
216284,0.169716,6,0.169716,71153.128458,0.045491,0.115470,9.999931e-07,6,0,0,0,0.166667
216285,0.121071,5,0.121071,71153.120603,0.030069,0.067141,4.000001e-06,5,0,0,0,0.166667
216286,0.507164,28,0.507164,71154.664929,0.041665,0.161818,4.800000e-05,27,0,0,0,0.166667
216287,6.216436,3,6.216436,71157.519855,0.042602,3.150820,3.065616e+00,1,0,0,0,0.166667
216288,0.653963,13,0.653963,61019.482650,0.109891,0.353862,3.000001e-06,8,0,0,0,1.000000

In [13]:
import numpy as np
import pandas as pd
from pyod.models.knn import KNN
from pyod.models.auto_encoder import AutoEncoder
from pyod.utils.data import generate_data

X_train = pd.DataFrame(X_train)

Using TensorFlow backend.
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
from sklearn.preprocessing import StandardScaler
X_train = StandardScaler().fit_transform(X_train)
X_train = pd.DataFrame(X_train)

In [15]:
clf1 = AutoEncoder(hidden_neurons =[25, 2, 2, 25], epochs=10)
clf1.fit(X_train)

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 12)                156
_________________________________________________________________
dropout_1 (Dropout)          (None, 12)                0
_________________________________________________________________
dense_2 (Dense)              (None, 12)                156
_________________________________________________________________
dropout_2 (Dropout)          (None, 12)                0
_________________________________________________________________
dense_3 (Dense)              (None, 25)                325
_________________________________________________________________
dropout_3 (Dropout)          (None, 25)                0
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 52
_________________________________________________________________
dropout_4 (Dropout)          (None, 2)                 0
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 6
_________________________________________________________________
dropout_5 (Dropout)          (None, 2)                 0
_________________________________________________________________
dense_6 (Dense)              (None, 25)                75
_________________________________________________________________
dropout_6 (Dropout)          (None, 25)                0
_________________________________________________________________
dense_7 (Dense)              (None, 12)                312
=================================================================
Total params: 1,082
Trainable params: 1,082
Non-trainable params: 0
_________________________________________________________________
None
WARNING:tensorflow:From C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 194660 samples, validate on 21629 samples
Epoch 1/10
194660/194660 [==============================] - 22s 115us/step - loss: 5.9077 - val_loss: 0.7962
Epoch 2/10
194660/194660 [==============================] - 22s 113us/step - loss: 2.0349 - val_loss: 0.6873
Epoch 3/10
194660/194660 [==============================] - 27s 141us/step - loss: 1.2591 - val_loss: 0.6837
Epoch 4/10
194660/194660 [==============================] - 30s 152us/step - loss: 0.9349 - val_loss: 0.6835
Epoch 5/10
194660/194660 [==============================] - 29s 148us/step - loss: 0.8090 - val_loss: 0.6834
Epoch 6/10
194660/194660 [==============================] - 34s 174us/step - loss: 0.7626 - val_loss: 0.6834
Epoch 7/10
194660/194660 [==============================] - 21s 106us/step - loss: 0.7574 - val_loss: 0.6834
Epoch 8/10
194660/194660 [==============================] - 28s 142us/step - loss: 0.7574 - val_loss: 0.6834
Epoch 9/10
194660/194660 [==============================] - 28s 144us/step - loss: 0.7574 - val_loss: 0.6834
Epoch 10/10
194660/194660 [==============================] - 34s 173us/step - loss: 0.7574 - val_loss: 0.6834

AutoEncoder(batch_size=32, contamination=0.1, dropout_rate=0.2, epochs=10,
      hidden_activation='relu', hidden_neurons=[25, 2, 2, 25],
      l2_regularizer=0.1,
      loss=<function mean_squared_error at 0x0000000019ED8268>,
      optimizer='adam', output_activation='sigmoid', preprocessing=True,
      random_state=None, validation_size=0.1, verbose=1)

In [16]:
from sklearn.externals import joblib 
joblib.dump(clf1, r'E:\와이앤슈\NIDS\데이터셋\본선이후\A_total_normal_14.pkl')
print("model restored")

C:\Users\KJH\Anaconda3\envs\py36\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

model restored